main{
    padding: 0;
}

header{
    position: static;
}

h3{
    font-size: 25%;
}

#contenido-animacion{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    background-color: #2a2a2a;
    margin: 2%;

    overflow: hidden;

    height: 80vh;
}

#recorrido-animacion{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;

    width: 100%;
    height: 100%;

    animation: recorrido 10s infinite linear;
}

@keyframes recorrido {
    from { transform: translateX(0);}
    to {transform: translateX(-100%);}
}

#contenido-animacion h2{
    font-size: 5vh;
}

#contenido-animacion p{
    font-size: 2vh;

    color: white;
    text-align: center;
}

#contenido-animacion .grisaceo{
    color: #808080;
}

.animacion{
    display: flex;
    flex-flow: row-reverse nowrap;
    justify-content: space-around;
    align-items: center;
    gap: 2%;

    width: 100%;
    height: 100%;
}

.animacion img{
    height: 100%;
}

.animacion-texto{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    align-items: center;

    width: 80vw;
}

.animacion-texto h2, #expositorio h2{
    color: #8B5A2B;
    font-size: 5vh;
    margin-bottom: 1vh;
}

.animacion-texto p, #expositorio p{
    font-size: 2vh;
}

#expositorio{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    gap: 5%;

    margin: 4%;
}

#texto-secundario{
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;

    width: 40%;
    /* min-width: 80px; */
}

#texto-secundario a{
    align-self: flex-end;
}

#imagenes{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2%;

    width: 55%;
    min-width: 55%;
    /* max-width: 250px; */
}

.mini-imagen{
    height: 20vh;

    overflow: hidden;
}

.mini-imagen:hover img{
    transform: scale(1.2);
    transition: transform 0.5s ease;
}

img{
    height: 20vh;
}

@media (orientation: portrait){

    #contenido-animacion{
        height: 40vw;
        min-height: 40vh;
    }

    #contenido-animacion h2{
        font-size: 5vw;
        margin: 0%;
        margin-bottom: 2%;
    }


    #contenido-animacion .grisaceo{
        font-size: 3vw;
    }

    #contenido-animacion .descripcion{
        display: none;
    }

    #recorrido-animacion{
        min-width: fit-content;
    }

    .animacion{
        width: 100%;
    }

    #expositorio{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #texto-secundario{
        width: 90%;
    }

    h2{
        font-size: 3vh;
    }

    h3{
        font-size: 2vh;
    }

    #texto-secundario p{
        font-size: 2vh;
    }

    #imagenes{
        width: 90%;
        max-width: none;

        margin-top: 1%;
    }

    .mini-imagen, .mini-imagen img{
        height: 20vh;
        width: 20vh;
    }

    @keyframes recorrido {
        from { transform: translateX(0);}
        to {transform: translateX(-50%);}
    }

}


