h1{
    font-size: 6vh;
    text-align: center;
    border-top: 1px solid grey;
    border-bottom: 1px solid grey;

    width: 100%;
}

h2{
    font-size: 4vh;
}

img{
    width: 6vh;
    height: 6vh;
}

.titulo{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    /* height: 25vh; */
}

.titulo{
    height: 100%;
}

.contenido-nosotros{
    display: flex;
    flex-flow: row wrap;
}

.imagen{
    width: 30%;
    height: 60vh;

    margin-right: 2%;
}

.imagen img{
    width: 100%;
    height: 100%;
}

.texto{
    width: 60%;
}

#nosotros-logo {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#nosotros-logo img{
    width: 8vh;
    height: 8vh;
}

#nosotros-logo p{
    font-size: 4vh;
}

#nosotros-logo span{
    color: #8B5A2B;
}

.conjunto-sociales{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2%;

    margin-top: 2%;
}

.sociales:hover{
    transform: scale(1.2);
    transition: 1s;
}

@media (orientation: portrait){
    *{
        min-width: none;
    }
    
    main{
        padding-top: 10vh;
    }

    .contenido-nosotros{
        justify-content: center;
        align-items: center;
    }

    .imagen, .texto{
        width: 90%;
    }

    .texto p{
        font-size: 3vh;
    }

    .conjunto-sociales img{
        width: 6vh;
        height: 6vh;
    }

    #nosotros-logo img{
        width: 10vw;
        height: 10vw;
    }

    #nosotros-logo p{
        font-size: 5vw;
    }



}

