img{
    width: 50%;
    height: 100%;
}

main{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    gap: 3vh;

    margin: 0 3% 1% 3%;
}

main h3{
    font-size: 4vh;
}

main p{
    font-size: 1.3vh;
}

.tienda-contenido{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2%;

    border: 0.5px solid grey;
    box-shadow: 1px 1px 1px black;
    filter: grayscale();

    width: 45%;
    /* min-width: 35vh; */
    height: 40vh;
    /* max-height: 45vh; */
}

.tienda-contenido:hover{
    filter: grayscale(0%);
    box-shadow: 3px 3px 3px black;
}

.imagen{
    width: 50%;
    height: 100%;

    border: 0.1px solid black;
}

.tienda-texto{
    width: 50%;
}

.shoes{
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2vh;
    font-weight: bold;
    color: white;
    background-color: darkgray;
    border-radius: 4px;

    width: 25%;
    height: 2vh;

    margin-bottom: 5%;
}


.precio-colores-tienda{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 2%;
}

.precios-comparados{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 15%;

    width: 35%;
}

.precio{
    font-size: 3vw;
}

.precio-tachado{
    font-size: 1vw;
    text-decoration: line-through;
    color: red;
}

.colores{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    gap: 2%;

    margin: 1% 2%;
}

.color{
    width: 4vh;
    height: 4vh;
    border-radius: 50%;
    background-color: #000000;
}

.color1{
    background-color: darkred;
}

.color2{
    background-color: lightseagreen;
}

.color3{
    background-color: lightgray;
}

@media (orientation: portrait){
    main{
        flex-flow: column nowrap;
    }

    .tienda-contenido{
        flex-direction: column;

        width: 90%;
        height: 20%;
    }

    .imagen, img, .tienda-texto{
        width: 100%;
    }

    .tienda-texto p{
        font-size: 3vh;
    }

    .shoes{
        width: 15vh;
        height: 5vh;

        margin-top: 1%;
    }


}


